@import "../../styles/mixins";

.footer {
  height: 54vh;
  padding: 6rem 18.5rem;
  background-color: #f4f3f3;

  @include breakpoint-max(lg-desktop) {
    padding: 6rem;
  }

  @include breakpoint-max(desktop) {
    padding: 6rem 4rem;
  }
  @include breakpoint-max(phone) {
    padding: 6rem 4rem;
    height: max-content;
  }

  @include breakpoint-max(mobilelarge) {
    padding: 6rem 4rem;
    height: max-content;
  }

  &__top {
    display: flex;
    justify-content: space-between;

    @include breakpoint-max(phone) {
      flex-direction: column;
      margin-bottom: 2rem;
    }

    &_form {
      width: 28vw;

      h3 {
        font-size: 1.4rem;
        letter-spacing: 0.5px;
      }

      p {
        letter-spacing: 0.5px;
        margin: 1rem 0 2rem 0;
        font-size: 1.4rem;
        font-weight: 300;
        color: rgb(24 24 24);
      }

      @include breakpoint-max(lg-desktop) {
        width: 40vw;

        h3,
        p {
          font-size: 1.8rem;
        }
      }
      @include breakpoint-max(phone) {
        width: 100%;
      }

      .form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__input {
          padding-bottom: 8px;
          border: none;
          margin-top: 2rem;
          border-bottom: 1px solid rgb(153 153 153);
          background-color: transparent;
          transition: all 0.15s ease-in-out;
          width: 100%;
          font-weight: 300;
          color: rgb(24 24 24);

          &:focus {
            outline: none;
            border-bottom: 1px solid #000;
          }

          &::placeholder {
            color: #abababa8;
            letter-spacing: 1px;

            @include breakpoint-max(lg-desktop) {
              font-size: 1.5rem;
            }

            @include breakpoint-max(tablet) {
              font-size: 1.4rem;
            }
          }
        }

        &__button {
          margin-top: 3rem;
          height: 5vh;
          width: 8.5vw;
          background-color: transparent;
          border: 1px solid rgb(24 24 24);
          color: rgb(24 24 24);
          font-weight: 300;
          cursor: pointer;
          transition: all ease 0.2s;

          @include breakpoint-max(lg-desktop) {
            font-size: 1.5rem;
            width: 10vw;
            height: 6vh;
          }
          @include breakpoint-max(phone) {
            width: 20vw;
          }

          @include breakpoint-max(mobilelarge) {
            width: 30vw;
          }

          &:hover {
            color: rgb(242 242 241);
            background-color: rgb(24 24 24);
          }
        }
      }
    }

    .offers {
      margin-right: 15rem;

      @include breakpoint-max(lg-desktop) {
        margin-right: 0;
      }

      @include breakpoint-max(phone) {
        margin-bottom: 5rem;
        margin-top: 8rem;
      }

      @include breakpoint-max(mobilelarge) {
        margin-top: 10rem;
        margin-bottom: 0;
      }

      div {
        &:not(:last-child) {
          margin-bottom: 2.6rem;
        }
      }

      h1 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
        letter-spacing: 0.4px;

        @include breakpoint-max(lg-desktop) {
          font-size: 1.8rem;
        }

        @include breakpoint-max(laptop) {
          font-size: 1.6rem;
        }

        @include breakpoint-max(mobilelarge) {
          font-size: 1.9rem;
          text-align: center;
        }
      }

      p {
        font-size: 1.3rem;
        letter-spacing: 1px;

        @include breakpoint-max(lg-desktop) {
          font-size: 1.7rem;
        }

        @include breakpoint-max(laptop) {
          font-size: 1.5rem;
        }

        @include breakpoint-max(mobilelarge) {
          font-size: 1.7rem;
          text-align: center;
        }
      }
    }
  }
}

.custom_checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 6px 0;
}

.custom_checkbox .label {
  font-size: 1.4rem;
  margin: 0 10px;

  @include breakpoint-max(lg-desktop) {
    font-size: 1.6rem;
  }

  @include breakpoint-max(laptop) {
    font-size: 1.5rem;
  }

  @include breakpoint-max(mobilelarge) {
    font-size: 1.7rem;
  }
}

.custom_checkbox .checkmark {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(153 153 153);
  background-color: transparent;
  background-size: 1250%;
  background-repeat: no-repeat;
  background-position: center;
}

.custom_checkbox input:checked + .checkmark {
  background-color: #000;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/1200px-White_check.svg.png);
  background-size: 60%;
  transition: background-size 0.25s cubic-bezier(0.7, 0, 0.18, 1.24);
}

.custom_checkbox input {
  display: none;
}
